BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
SpacesBeforeTrailingComments: 1
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: None
